# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md
!automations.yaml
!configuration.yaml
!groups.yaml
!scenes.yaml
!sensors.yaml
!scripts.yaml
!blueprints/automation/homeassistant/*
!blueprints/scripts/homeassistant/*
